body {
  background-color: #efefef
}

.studio-container {
  height: calc(100vh - 56px);
}

.rs-navbar-item {
  height: 40px;
}

button {
  height: 40px !important;
}

.rs-navbar-nav > .rs-dropdown .rs-dropdown-toggle .rs-dropdown-toggle-caret {
  top: 10px !important;
}

.rs-navbar-header {
  height: 40px !important;

  .navbar-brand {
    padding: 2px 15px !important;
  }
}